:root {
  --black: #000000;
  --white: #fff;
  --light-blue: #28669f;
  --light-grey: #999;
  --linkedin-color: #0274b3;
}

html {
  font-size: 62.5%;
}

a:link,
a:visited {
  color: var(--white);
  text-decoration: none;
}

body {
  font-size: 1.3rem;
  line-height: 2rem;
  color: var(--black);
  font-family: "Lato", sans-serif;
}

.header {
  &__navigation {
    h2 {
      background: var(--white);
      padding: 1rem;
      color: var(--light-blue);
      border-radius: 5px;
      font-weight: 700;
    }
    &--nav {
      &_item {
        font-size: 1.6rem;
        font-family: "Ubuntu", sans-serif;
        letter-spacing: 0.2rem;
        color: var(--white);
      }
    }
  }
}

.jumbotron {
  .container {
    padding: 2rem;
    h1 {
      font-family: "Roboto Slab", sans-serif;
      font-size: 6rem;
      font-weight: 400;
      color: var(--white);
      line-height: 1.4;
      span {
        background: var(--white);
        color: var(--light-blue);
        padding-top: 0;
      }
    }
    p {
      margin-top: 2rem;
      font-size: 2.5rem;
      font-weight: 200;
      background: var(--white);
      color: var(--light-blue);
      width: 70%;
      padding: 1.5rem 1rem;
    }
  }
}

.headline {
  .intro {
    h1 {
      font-size: 3rem;
      font-family: "Poppins", sans-serif;
      border-right: 1px solid var(--light-grey);
      color: var(--light-grey);
      span {
        font-size: 8rem;
        color: coral;
        font-weight: 700;
      }
    }
    p {
      font-size: 3rem;
      line-height: 4rem;
      padding-left: 4rem;
      color: var(--light-grey);
    }
  }
  .projects {
    &__image {
      &--desc {
        font-size: 2rem;
        color: black;
        text-transform: uppercase;
        letter-spacing: 2rem;
        font-weight: 400;
        font-family: "Ubuntu", sans-serif;
      }
    }
  }
}
