.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  z-index: 1;
  padding-top: 2rem;
  &__navigation {
    width: 60%;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 59.38em) {
      width: 100%;
      margin: 0 2rem;
    }
    h2 {
      cursor: pointer;
    }
    &--nav {
      display: flex;
      justify-content: space-between;
      flex: 0 1 30%;

      &_item {
        padding: 1rem;
        cursor: pointer;
        position: relative;
        top: 0;
        transition: all 0.3s ease-in;
        &:hover {
          top: 0.5rem;
        }
      }
    }
  }
}
