body {
	font-family: 'Lato', monospace;
	background-color: #e5e5e5;
}
.nav-item p {
	color: white;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.nav-item {
	margin-right: 40px;
}

.jumbotron {
	height: 100vh;
	background: #28669F;
	margin-top: -92px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto Slab', san-serif;
	color: white;
	z-index: 1000;
}

.jumbotron .container p {
	margin-top: 20px;
	width: 65%;
	padding-bottom: 5px;
	background: white;
	border: 3px solid white;
	color: #28669F;
	font-size: 25px;
	font-family: 'Lato', monospace;
}

.jumbotron span {
	border: 1px solid white;
	background: white;
	color: #28669F;
}

.headline {
	background-color: white;
	padding: 20px;
	position: relative;
	top: -90px;
	z-index: 1;
	width: 95%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
}

.headline .projectCount {
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid black;
	font-family: 'Poppins', san-serif;
}

.headline h3 {
	color: #999;
	font-size: 30px;
	line-height: 1.4em;
	font-family: 'Lato', san-serif;
}

.project {
	background-color: white;
	padding: 20px;
	position: relative;
	top: -100px;
	z-index: 1;
	width: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
}

.project .col-lg-4 {
	padding: 7px;
	transition: all .2s ease;

}

.project .col-lg-4:hover {
	padding: 2px;
}

.project img {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.2);
}

.skills {
	background-color: white;
	padding: 20px;
	position: relative;
	top: -100px;
	z-index: 1;
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70vh;
}

.skills .col-md-4{
	padding: 20px;
}

.skills .logo {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.skills i {
	font-size: 40px;
	color: orange;
}

.footer {
	background-color: white;
	padding: 20px;
	position: relative;
	top: -100px;
	z-index: 1;
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer i {
	font-size: 45px;
	margin-right: 10px;
}

.footer .fa-linkedin {
	color: #007bff;
}

@media only screen and (max-width: 991px) {

}